Django_Server/bin
Django_Server/lib
Django_Server/.idea
Django_Server/recruitmenttool/recruitmenttool/cdamanager/.idea
Django_Server/recruitmenttool/.DS_Store
*.DS_Store
eHealthConnector/*
*.pyc
.idea
Django_Server/recruitmenttool/recruitmenttool/.DS_Store
Django_Server/recruitmenttool/api/__pycache__/views.cpython-38.pyc.77132312
Django_Server/recruitmenttool/api/__pycache__/views.cpython-38.pyc.69611320
Django_Server/recruitmenttool/api/__pycache__/views.cpython-38.pyc.62730040
