Django_Server/bin
Django_Server/lib
Django_Server/.idea
Django_Server/recruitmenttool/cda_files
Django_Server/.DS_Store
.DS_Store
Django_Server/recruitmenttool/recruitmenttool/cdamanager/.idea
.DS_Store
Django_Server/.DS_Store
Django_Server/recruitmenttool/.DS_Store
Django_Server/recruitmenttool/recruitmenttool/api/.DS_Store
