Django_Server/bin
Django_Server/lib
Django_Server/.idea
Django_Server/recruitmenttool/cda_files
Django_Server/.DS_Store
.DS_Store
Django_Server/recruitmenttool/recruitmenttool/cdamanager/.idea
Django_Server/.DS_Store
Django_Server/recruitmenttool/.DS_Store
Django_Server/recruitmenttool/recruitmenttool/api/.DS_Store
Django_Server/recruitmenttool/api/__pycache__/
Django_Server/recruitmenttool/api/__pycache__/views.cpython-37.pyc
Django_Server/recruitmenttool/api/__pycache__/models.cpython-37.pyc
Django_Server/recruitmenttool/api/__pycache__/models.cpython-37.pyc
Django_Server/recruitmenttool/api/__pycache__/views.cpython-37.pyc
*.pyc
