api==0.0.7
asgiref==3.2.7
certifi==2020.6.20
chardet==3.0.4
Django>=3.1
django-cors-headers==3.3.0
djangorestframework==3.11.2
elementpath==1.4.5
eulxml==1.1.3
idna==2.10
lxml==4.5.1
nose==1.3.7
ply==3.11
py4j==0.10.9.1
pytz==2020.1
requests==2.24.0
six==1.15.0
urllib3==1.26.5
jsonfield